<!DOCTYPE html>
<html>
<head>
  <title>GroupMe</title>
  <%= stylesheet_link_tag    "group_me/application", :media => "all" %>
  <%= javascript_include_tag "group_me/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
